# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
OWNER_ID=

# Optional: download link sent by /redeemkey
DOWNLOAD_URL=

# GitHub persistence
GITHUB_OWNER=andrejmax-cmd
GITHUB_REPO=ice-client-license
GITHUB_BRANCH=main
GITHUB_PATH=licenses.json
GITHUB_TOKEN=

# Render
PORT=10000
